#Create the following variables in Vault under the folder terraform/<variable name>
root_password="" #For example in vault root_password would look like
                 #terraform/root_password value=PasswordHere
vsphere_password=""
vsphere_user=""
vsphere_server=""

datacenter_name=""
cluster_name=""
datastore=""
template_name=""
network_0=""
network_1=""
network_2=""
gateway=""
dns_servers=["",""]
domain=""
